<<<<<<< HEAD
$body-background: #fff;
$body-width: 1300px;
$body-font: poppin,Tahoma,Arial,微软雅黑,sans-serif;
$font-color: #333;
$hover-color: #31c27c;

$header-padding: 0 30px;
$header-background: #fff;

$topbar-border: 1px solid #f2f2f2;

$logo-height: 46px;
$logo-width: 170px;

$nav-padding: 0 16px;
$nav-height: 90px;
$nav-line: 90px;
$nav-background: #31c27c;
$nav-active-color: #fff;
$nav-size: 18px;

$search-marleft: 60px;
$search-ipt-width: 182px;
$search-ipt-height: 36px;
$search-ipt-padleft: 10px;
$search-ipt-border: 1px solid #c9c9c9;
$search-ipt-radius: 3px;

$icon-height: 36px;
$icon-font: 24px;
$icon-border: 1px solid #c9c9c9;
$icon-color: #a2a2a2;

$login-margin: 0 20px;
$login-size: 16px;

$pay-padding: 0 10px;
$pay-marright: 10px;
$pay-fir-border: 1px solid #31c27c;
$pay-lst-border: 1px solid #c9c9c9;
$pay-border-radius: 2px;
$pay-background: #31c27c;
$pay-fir-corlor: #fff;
$pay-size: 13px;
$pay-fir-hover: #2caf6f;
$pay-lst-hover: #ededed;

$subnav-padding: 0 220px;
$subnav-height: 50px;
$subnav-size: 15px;

$slider-panel-padding: 30px 0 20px 0;
$slider-panel-size: 20px;
$slider-panel-h2-margin: 5px 0;
$slider-panel-h2-space: 16px;

$slider-wrap-width: 1160px;
$slider-wrap-height: 260px;

$slider-img-width: 560px;
$slider-img-height: 240px;
$slider-img-margin: 10px;

$slider-btn-width: 90px;
$slider-btn-height: 120px;
$slider-btn-line: 100px;
$slider-btn-mar-top: -45px;
$slider-btn-bg-color: #f3f3f3;
$slider-btn-size: 60px;
$slider-btn-color: #fff;
$slider-btn-hover: #e1e1e1;

$slider-bullet-pad-top: 10px;
$slider-bullet-mar: 0 10px;
$slider-bullet-bg-color: #e3e3e3;
$slider-bullet-hover: #b1b1b1;

$unlogin-height: 622px;
$unlogin-margin: -1px;
$unlogin-tit-width: 735px;
$unlogin-tit-height: 64px;
$unlogin-tit-martop: 210px;
$unlogin-sum-width: 350px;
$unlogin-sum-height: 32px;
$unlogin-sum-mar: 30px auto;
$unlogin-sum-position: 0px 32px;

$unlogin-loginBtn-width: 128px;
$unlogin-loginBtn-height: 48px;
$unlogin-loginBtn-radius: 2px;
$unlogin-loginBtn-size: 20px;
$unlogin-loginBtn-bg: #31c27c;
$unlogin-loginBtn-bghover: #2caf6f;
$unlogin-loginBtn-color: #fff;

$lazy-font: 14px;
$lazy-color: #999;
$lazy-hover-color: #31c27c;
$lazy-menu-pad: 60px 30px 32px 30px;
$lazy-menu-type-pad: 0 25px;;
$lazy-menu-type-border: 1px solid #eeeef0;
$lazy-menu-h-mar: 10px;
$lazy-menu-list-minwid: 120px;
$lazy-menu-li-width: 60px;
$lazy-menu-list-mar: 5px 0;
$lazy-moreicon-mar-left: 4px;
$lazy-moreicon-mar-bottom: 2px;
$lazy-moreicon-pad: 3px;
$lazy-moreicon-border: 2px solid;
$lazy-songlist-pad: 0 30px 32px 30px;
$lazy-songlist-h-mar: 10px 0;
$lazy-songlist-space: 3px;
$lazy-songlist-li-margin: 10px 25px 30px 0;
$lazy-songlist-img-wid: 220px;
$lazy-songlist-coverimg-wid: 70px;
$lazy-songlist-info-margin: 15px;
=======
$body-background: #fff;
$body-width: 1300px;
$body-font: poppin,Tahoma,Arial,微软雅黑,sans-serif;
$font-color: #333;
$hover-color: #31c27c;

$header-padding: 0 30px;
$header-background: #fff;

$topbar-border: 1px solid #f2f2f2;

$logo-height: 46px;
$logo-width: 170px;

$nav-padding: 0 16px;
$nav-height: 90px;
$nav-line: 90px;
$nav-background: #31c27c;
$nav-active-color: #fff;
$nav-size: 18px;

$search-marleft: 60px;
$search-ipt-width: 182px;
$search-ipt-height: 36px;
$search-ipt-padleft: 10px;
$search-ipt-border: 1px solid #c9c9c9;
$search-ipt-radius: 3px;

$icon-height: 36px;
$icon-font: 24px;
$icon-border: 1px solid #c9c9c9;
$icon-color: #a2a2a2;

$login-margin: 0 20px;
$login-size: 16px;

$pay-padding: 0 10px;
$pay-marright: 10px;
$pay-fir-border: 1px solid #31c27c;
$pay-lst-border: 1px solid #c9c9c9;
$pay-border-radius: 2px;
$pay-background: #31c27c;
$pay-fir-corlor: #fff;
$pay-size: 13px;
$pay-fir-hover: #2caf6f;
$pay-lst-hover: #ededed;

$subnav-padding: 0 220px;
$subnav-height: 50px;
$subnav-size: 15px;

$slider-panel-padding: 30px 0 20px 0;
$slider-panel-size: 20px;
$slider-panel-h2-margin: 5px 0;
$slider-panel-h2-space: 16px;

$slider-wrap-width: 1160px;
$slider-wrap-height: 260px;

$slider-img-width: 560px;
$slider-img-height: 240px;
$slider-img-margin: 10px;

$slider-btn-width: 90px;
$slider-btn-height: 120px;
$slider-btn-line: 100px;
$slider-btn-mar-top: -45px;
$slider-btn-bg-color: #f3f3f3;
$slider-btn-size: 60px;
$slider-btn-color: #fff;
$slider-btn-hover: #e1e1e1;

$slider-bullet-pad-top: 10px;
$slider-bullet-mar: 0 10px;
$slider-bullet-bg-color: #e3e3e3;
$slider-bullet-hover: #b1b1b1;

$unlogin-height: 622px;
$unlogin-margin: -1px;
$unlogin-tit-width: 735px;
$unlogin-tit-height: 64px;
$unlogin-tit-martop: 210px;
$unlogin-sum-width: 350px;
$unlogin-sum-height: 32px;
$unlogin-sum-mar: 30px auto;
$unlogin-sum-position: 0px 32px;

$unlogin-loginBtn-width: 128px;
$unlogin-loginBtn-height: 48px;
$unlogin-loginBtn-radius: 2px;
$unlogin-loginBtn-size: 20px;
$unlogin-loginBtn-bg: #31c27c;
$unlogin-loginBtn-bghover: #2caf6f;
$unlogin-loginBtn-color: #fff;

$lazy-font: 14px;
$lazy-color: #999;
$lazy-hover-color: #31c27c;
$lazy-menu-pad: 60px 30px 32px 30px;
$lazy-menu-type-pad: 0 25px;;
$lazy-menu-type-border: 1px solid #eeeef0;
$lazy-menu-h-mar: 10px;
$lazy-menu-list-minwid: 120px;
$lazy-menu-li-width: 60px;
$lazy-menu-list-mar: 5px 0;
$lazy-moreicon-mar-left: 4px;
$lazy-moreicon-mar-bottom: 2px;
$lazy-moreicon-pad: 3px;
$lazy-moreicon-border: 2px solid;
$lazy-songlist-pad: 0 30px 32px 30px;
$lazy-songlist-h-mar: 10px 0;
$lazy-songlist-space: 3px;
$lazy-songlist-li-margin: 10px 25px 30px 0;
$lazy-songlist-img-wid: 220px;
$lazy-songlist-coverimg-wid: 70px;
$lazy-songlist-info-margin: 15px;
>>>>>>> first commit
